@import url('https://fonts.cdnfonts.com/css/open-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.title{
    font-family: 'Open Sans Condensed', sans-serif;
}
